@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	font-family: "Montserrat";
}
h2{
	color:black;
	margin-bottom: 3px;
}
h3{
	color: #d6c7c7;
	margin-top: 0px;
}
h3.night{
	color: #d6c7c7

}
button#nightmode{
	background-color: grey;
	color: white;
	border-radius: 70%;
	height: 70px
}
button#daymode{
	border-radius: 70%;
	height: 70px
}
.night{
	background-color: #898686;
	color: white;
}